.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: .25rem;
}

.item img{
    width: 64px;
}

.item{
    margin: 0px 15px;
    text-align: center;
}
.item a{
    text-decoration: none;
}
.item a:hover{
    color:black;
}
.card{
    padding: 20px;
    margin: 50px;
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}